{{#each this}}

  <div class='col'>
    <div class='card-header'>
      {{id}}
    </div>
    <div class='shadow-sm rounded p-3'>
      <div class='p-2'>
        <p class='h6 m-0'>{{title}}</p>
      </div>
    </div>
  </div>

{{/each}}
